In [3]:
import pandas as pd
pd.__version__

'1.5.3'

In [10]:
df = pd.read_csv("housing.csv")
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [27]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [12]:
df.shape

(20640, 10)

In [15]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [18]:
df["ocean_proximity"].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [29]:
l = []
for i in range(len(df)):
    if(df["ocean_proximity"][i] == "NEAR BAY"):
        l.append(df["median_house_value"][i])
average = sum(l)/len(l)
round(average)

259212

In [32]:
import statistics as st

In [38]:
removed_na = df["total_bedrooms"].dropna()
round(st.mean(removed_na))

538

In [41]:
df["total_bedrooms"] = df["total_bedrooms"].fillna(538)

In [42]:
round(st.mean(df["total_bedrooms"]))

538

- Select all the options located on islands.
- Select only columns housing_median_age, total_rooms, total_bedrooms.
- Get the underlying NumPy array. Let's call it X.
- Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
- Compute the inverse of XTX.
- Create an array y with values [950, 1300, 800, 1000, 1300].
- Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
- What's the value of the last element of w?

In [44]:
import numpy as np

In [50]:
import numpy as np

# Convert DataFrame to NumPy array, selecting only the specified columns
selected_columns = ['housing_median_age', 'total_rooms', 'total_bedrooms']
X = df[selected_columns].values

# Compute matrix-matrix multiplication between the transpose of X and X
XTX = np.dot(X.T, X)

# Compute the inverse of XTX
XTX_inv = np.linalg.inv(XTX)

# Create array y
y = np.array([950, 1300, 800, 1000, 1300])

# Reshape y to a column vector with the same number of rows as X.T
y = y.reshape(-1, 1)

# Compute w
w = np.dot(np.dot(XTX_inv, X.T), y)

# Print the value of the last element of w
print("Value of the last element of w:", w[-1][0])

<class 'ValueError'>: shapes (3,20640) and (5,1) not aligned: 20640 (dim 1) != 5 (dim 0)